{% extends "base.html" %}
{% block title %}Add Product | QualyJoyn{% endblock %}

{% block content %}

<section class="admin-page">
  <div class="admin-container">
    <h1>Add Product</h1>

    <form method="POST" enctype="multipart/form-data" class="admin-form">
      <div class="form-group">

          <label>Current Images</label>

          <div class="existing-images">

              {% for image in images %}

              <div class="existing-image">

                  <img
                      src="{{ image.image_url }}"
                      alt="Product Image"
                  >

              </div>

              {% endfor %}

          </div>

          <label style="margin-top:20px;">
              Upload New Images
          </label>

          <input
              type="file"
              name="images"
              multiple
              accept="image/*"
          >

      </div>


      <div class="form-group">
        <label>Product Name</label>
        <input
            type="text"
            name="name"
            value="{{ product.name }}"
            required
        >
      </div>

      <div class="form-group">
        <label>Actual Price (MRP)</label>
        <input
            type="number"
            name="actual_price"
            value="{{ product.actual_price }}"
            required
        >
      </div>

      <label>Badge</label>
      <select name="badge">
        <option value="" {% if product.badge == "" %}selected{% endif %}>None</option>

        <option value="sale"
          {% if product.badge == "sale" %}selected{% endif %}>
          Sale
        </option>

        <option value="trending"
          {% if product.badge == "trending" %}selected{% endif %}>
          Trending
        </option>

        <option value="new"
          {% if product.badge == "new" %}selected{% endif %}>
          New
        </option>
      </select>
      
      <div class="form-group">
        <label>Price</label>
        <input
            type="number"
            name="price"
            value="{{ product.price }}"
            required
        >
      </div>

      <div class="form-group">
        <label>Category</label>
        <select name="category" required>
          {% for category in categories %}
            <option
                value="{{ category.id }}"
                {% if category.id == product.category %}selected{% endif %}
            >
                {{ category.name }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea name="description">{{ product.description }}</textarea>
      </div>

      <p><strong>Stock Debug:</strong> {{ stock }}</p>
      <h3 class="admin-section-title">Stock Management</h3>

      <div class="stock-wrapper">

        <div class="stock-card">
          <span class="stock-size">S</span>
          <input
              type="number"
              name="stock_S"
              min="0"
              value="{{ stock.get('S', 0) }}"
          >
        </div>

        <div class="stock-card">
          <span class="stock-size">M</span>
          <input
              type="number"
              name="stock_M"
              min="0"
              value="{{ stock.get('M', 0) }}"
          >
        </div>

        <div class="stock-card">
          <span class="stock-size">L</span>
          <input
              type="number"
              name="stock_L"
              min="0"
              value="{{ stock.get('L', 0) }}"
          >
        </div>

        <div class="stock-card">
          <span class="stock-size">XL</span>
          <input
              type="number"
              name="stock_XL"
              min="0"
              value="{{ stock.get('XL', 0) }}"
          >
        </div>

      </div>


      <button type="submit" class="admin-btn">Add Product</button>


    </form>
  </div>
</section>

{% endblock %}
